body
{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAAA1BMVEUbqPBsarW2AAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIALA8UNAAFusnLHAAAAAElFTkSuQmCC");
}


	.login_div1 , .login_div2
	{
		background:rgb(7, 207, 207);
		padding: 10px;
		float: none;
		border-radius: 10px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
